* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	max-width: 800px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
   margin-top: 2%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #000000;
	display: block;
	position: relative;
}

.contenedor-boton-cuerpo{
	margin-top: 40px;
	margin-left: 15%;
	width: 210px;
	height: 80px;
	display: inline-block;

}

.formulario {
	background-color: #fff;
	padding: 30px;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}


.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="password"],
.formulario input[type="number"],
.formulario input[type="date"]{
	display: inline-block!important;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #000000;
	vertical-align: top;
    margin-top: 11px;
}

.form-control:focus {
	box-shadow: none!important;
}

.verificador{
	position: absolute;
	display: inline-block!important;
	width: auto!important;
	line-height: 18px!important;
	border: 1px solid #000000!important;
	vertical-align: top!important;
    margin-top: 11px!important;
	font-size: 18px!important;
	margin-left: 4px!important;
}


.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
    max-height: 48px
}

.formulario .icono.izquierda {
    margin-top: 2%;
	margin-right: 4px;
	border-radius: 3px 0 0 3px;
}

.formulario #rut{
	width: calc(100% - 73px);

}

.separador{
	display: inline-block;
	margin-bottom: 0px!important;
	position: relative;
	top: 17px;
}


form select{
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
    margin-top: 2%;
	width: 100%;
	border-radius: 0 3px 3px 0;
}
form textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 150px;
	min-height: 50px;
	font-size: 18px;
	line-height: 18px;
	vertical-align: top;
    margin-top: 2%;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

.boton2:hover {
	background-color: #5a6268;
}


.boton,
a input[type="submit"]:hover,
form button[type="submit"]:hover{
	background: #a22da2;
}

.boton2{
    margin-top: 05%;
	padding: 6px;
	background:  #6c757d;
	color:#E1E9FA;
	font-size: 1em;
	float: center;
	cursor: pointer;
    border-radius: 5px;
    
}

.boton,
form button[type="submit"]{
    margin-top: 02%;
	padding: 6px;
	background:  #111B54;
	color:#E1E9FA;
	font-size: 1em;
	cursor: pointer;
    border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
    display: block;
}

a input[type="submit"]{
	box-shadow: 0px 0px 0px 1px #fff;
	background:  #111B54;
	color:#E1E9FA;
	margin: auto;
	width: 200px;
	height: 70px;
	font-size: auto;
	text-align: center;
	
}