:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}


a:hover {
    text-decoration: none;

}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    border: 0;
}

a.page-link{
    color: #000000!important;
}

a.page-link:focus{
    box-shadow: none!important;
}
.page-item.active .page-link{
    color: #fff!important;
}

#title{
    color: #111B54;
    margin-top: 10px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    background: #fff;
    padding: 8px 30px;
    box-shadow: 0px 0px 10px 1px #000000 ;
  }

  .page-item.active .page-link {
      background-color: #6F2968;
      border-color: #6F2968;
  }


.gradiente{
    background: -moz-linear-gradient(left,  #ffffff 0%,#0fdeb8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#5263b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #111B54 0%,#6F2968 100%); /* IE10* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 10px 1px 10px 1px #000000 ;
}

.ubicacion{
    width: 100%;
}



svg.bi.bi-list:hover{
    border: 2px solid #fff;
    border-radius: 1px;
    cursor: pointer;

}

.largo{
    font-size: smaller;
    opacity: 0;
    height: 0px;
    transition: .25s ease-in;
}

.herramienta:hover  .largo{
  opacity: 1;
  height: 75px;
}

svg.bi.bi-person-circle{
    position: relative;
    top: -4px;
}


.notificaciones{
    margin-top: 50px;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px!important;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 2px;
    margin-left: 7%;
}
.btn-primary:hover{
  background-color: #007bff!important;
}

.barra{
    background: -moz-linear-gradient(left,  #ffffff 0%,#0fdeb8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#5263b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #111B54 0%,#6F2968 100%); /* IE10* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100px;
}

#tablaLista select{
  border-color: gainsboro!important;
  border-radius: 3px!important;
}

#tablaLista select:focus-visible{
   border: none!important;
}


.side{
    background: linear-gradient(to right,  #ffffff 0%,#6F2968 100%); /* IE10* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.activo{
   display: block!important;
   opacity: 1;
    z-index: 9;
    position: relative;
    transition: 2s;
}

.container{
    max-width: 100%!important;
}


.pasivo{
    position: absolute;
    opacity: 0;
    display: none;
    transition: 2s;
}



.btn-outline-light:hover{
  color: #000000!important;
  background-color: #fff;
  opacity: 0.5;
}

.activo2{

    overflow-y: auto;
   

     transition: .5s;
     width: 280px!important;
 }
 
 
 .pasivo2{

    width: 0px!important;
     position: absolute;

     transition: .5s;
 }
 .activo3{

  overflow-y: auto;
 

   transition: .5s;
   width: 400px!important;
}


.pasivo3{

  width: 0px!important;
   position: absolute;

   transition: .5s;
}
.avatar {
    max-width: 35px;
    position: relative;
    top: -2px;
}

.stat {
    border-right: 1px solid var(--grey);
}

#tablaLista {
    width: max-content;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-top: none;
    box-shadow: 0px 0px 10px 1px #000000
  }

  


  .inicio{
      background-image: url(../img/condominios-750x375.jpg);
  }
  .fondo2{
    background-image: url(../img/fondo2.jpg);
}
.fondo3{
    background-image: url(../img/fondo3.jpg);
}

#tablaMantenciones{
    font-size: 15px;
}


.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 8;
  }

  .carousel-caption  h1{
    text-shadow: 3px 2px 2px black;
  }

  .carousel-caption  p{
  
    text-shadow: 3px 2px 2px black;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32rem;
  }
  

  .herramienta{
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 250px;
    min-width: 250px;
    border: 1px solid #111B54;
    
  }

  .btn-herramienta{
    color: #111B54!important;
    
  }

  .btnMenuMan:hover{
    box-shadow: 0px 0px 5px 1px #000000;
  }



/*footer*/

#facebook::after,
#twitter::after,
#google-plus::after,
#instagram::after{
  content:"";
  position: relative;
  opacity: 0;
  
}

#facebook,
#twitter,
#google-plus,
#instagram{
  width: 40px;
  transition: .25s;
  display: flex;
  justify-content: center;
}

#facebook:hover{
  background-color: blue!important;
}
#twitter:hover{
  background-color:rgb(0, 200, 255)
}
#google-plus:hover{
  background-color: crimson!important;
}
#instagram:hover{
  background-color: blueviolet!important;
}





  .logo{
    color:#fff!important; 
    position:relative;
    padding: 0px;
    font-size: larger;
    font-weight: bold;
    height: 25px;
    margin-bottom: 0px;
  }

  .subLogo{
    color:rgb(193, 193, 193)!important;
    position:relative;
    margin-bottom: 0px;
  }